$color-black: #000;
$color-text-gray: grey;
$color-blue-claro: #00b3e3;
$color-blue-medio: #0177ce;
$color-blue-medio: #0077c8;
$color-blue-medio: #337ab7;
$color-red-btn: #d9534f;
$color-font-marengo: #43555e;
