<div class="content-results">
  <section class="results" *ngIf="dataResponse">
    <div class="content-header">
      <div class="response">
        <small>Response</small>
      </div>
      <button mat-icon-button [disabled]="!dataResponse.trim()" [cdkCopyToClipboard]="dataResponse">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button matSuffix (click)="clearResult()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="content-response">
      <strong>{{ dataResponse }}</strong>
    </div>
  </section>
</div>
