.container {
  margin: 20px auto;
  // display: grid;
  row-gap: .8em;
  column-gap: .5em;
  // margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	grid-template-rows: 1fr;
	width: 80%;
}
