@import "../assets/scss/colors"; // Colors

::ng-deep.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: white;
  --mdc-snackbar-supporting-text-color: $color-font-marengo;
  --mat-snack-bar-button-color: $color-font-marengo;
}
