.container-camera {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

::ng-deep video, img {
  border-radius: 1%;
  box-shadow: #121212 0 0 0 1px, transparent 0 0 0 0;
}

::ng-deep video, video.mirrored, img {
  // width: 333px;
  // height: 250px;
  max-width: 100%;
  height: auto;
}

::ng-deep .webcam-wrapper video.mirrored {
  transform: initial !important;
}

.content-preview img {
  box-shadow: #0bdc12 0 0 0 1px, transparent 0 0 0 0;
}

.content-buttons {
  // display: grid;
  // row-gap: 1em;
  // column-gap: 4em;
  // margin: 0 auto;
  // grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  text-align: center;

  .button-capture {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 5px auto auto;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px 12px;
  }

  .button-capture:hover {
    box-shadow: #121212 0 0 0 1px, transparent 0 0 0 0;
  }

  button:disabled,
  button[disabled] {
    color: rgba(0, 0, 0, 0.2);
  }
}
